{{>mongo/header}}
{{>mongo/navBar}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{#if savedArticles}}
                    {{#each savedArticles}}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="article-heading">{{this.title}}</h4>
                                <div class="col-lg-6">
                                    <div class="panel-body">
                                {{>mongo/save-article}}  {{>mongo/delete-article}}                        
                                    </div>
                                </div>        
                        </div>
                        <div class="col-lg-12">
                        <div class="panel-body">
                            <p> {{this.summary}}</p>
                            <a id="link" href={{this.link}} target="_blank">{{this.link}}</a>
                            <br><br>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                <div class="panel panel-warning">
                    <div class="col-lg-12">
                    <div class="panel-body">
                    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
                    </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>

<div id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
</div>

{{#each article}}
    {{>mongo/note}}
{{/each}}

{{>mongo/footer}}
